.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
}
img {
  width: 100px !important;
  height: 100px !important ;
}
img:hover {
  cursor: pointer;
}
