body,
html {
  height: 100%;
}
body {
  background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
.grid {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
  height: 300px;
}
img {
  width: 100px !important;
  height: 100px !important ;
}
img:hover {
  cursor: pointer;
}
button {
  margin-top: 50px;
  border: none;
  padding: 10px;
  color: white;
  font-size: 20px;
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}
button:hover {
  cursor: pointer;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
}
